datetime.datetime(2024, 1, 1, 0, 0)

In [6]:
# 例えば、1時間ごとのOHLCVデータを取得するには、次のようにします
resampled_1h_ohlc = tsdb.resample_query(
    table_name='OHLCV',
    field='close',
    start_dt='2022-01-01 00:00:00', # yyyy-mm-dd HH:MM:SS, inclusive
    end_dt='2022-01-31 23:59:59', # yyyy-mm-dd HH:MM:SS, inclusive    symbols=['BTCUSDT'],
    interval='1hour', # month | week | day | hour | {1,2,3,4,6,8,12}hour | minute | {5,15,30}minute
    op='last', # last | first | min | max | sum
)

In [7]:
resampled_1h_ohlc

symbol                BTCUSDT  ETHUSDT  XRPUSDT
dt
2022-01-01 00:00:00  46656.13  3723.04   0.8395
2022-01-01 01:00:00  46778.14  3724.89   0.8396
2022-01-01 02:00:00  46811.77  3728.32   0.8425
2022-01-01 03:00:00  46813.20  3723.96   0.8410
2022-01-01 04:00:00  46711.05  3708.21   0.8346
...                       ...      ...      ...
2022-01-31 19:00:00  38415.79  2672.72   0.6070
2022-01-31 20:00:00  38450.62  2683.97   0.6094
2022-01-31 21:00:00  38410.09  2679.63   0.6084
2022-01-31 22:00:00  38412.46  2680.00   0.6088
2022-01-31 23:00:00  38466.90  2686.94   0.6174

[744 rows x 3 columns]