In [18]:
import athena_timeseries
import numpy as np
import pandas as pd

boto3_session = boto3.Session(region_name="us-east-1")

tsdb = athena_timeseries.AthenaTimeSeries(
    boto3_session=boto3_session, 
    glue_db_name='database1', 
    s3_path='s3://datalakecrypto1/S3folder1',
)

import boto3

# S3に接続
s3 = boto3.resource('s3')


from dateutil import parser

datetime_string = "2024-01-01 00:00:00.000"
parsed_datetime = parser.parse(datetime_string)

parsed_datetime

datetime.datetime(2024, 1, 1, 0, 0)

In [20]:



# 例えば、1時間ごとのOHLCVデータを取得するには、次のようにします
resampled_1h_ohlc = tsdb.resample_query(
    table_name='OHLCV',
    field='close',
    start_dt='2022-01-01 00:00:00', # yyyy-mm-dd HH:MM:SS, inclusive
    end_dt='2022-01-31 23:59:59', # yyyy-mm-dd HH:MM:SS, inclusive    symbols=['BTCUSDT'],
    interval='1hour', # month | week | day | hour | {1,2,3,4,6,8,12}hour | minute | {5,15,30}minute
    op='last', # last | first | min | max | sum
)

/Users/take/Documents/プログラム/athena-timeseries_mine/athena-timeseries/athena_timeseries/sql/resample.py:178: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df.index = pd.to_datetime(

ValueError: time data "2022-01-01 00:00:00.000" doesn't match format "%Y-%m-%d %H:%M:%S.%f %Z", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.